# Terraform Variable Values
# Copy this file to terraform.tfvars and fill in values

# Supabase PostgreSQL connection URL
database_url = "postgresql://postgres.blfitvvauoncoifrgvej:p3mfYQEtf3n@aws-1-ca-central-1.pooler.supabase.com:6543/postgres"
supabase_jwt_secret = "fBKCscwieFb6CS1zZcDr+djAahu6mqhCiOwJfTolI8t82F9/AwdeGafxDRVDxmJ0ik7VOXSgfMj5nvQ37idDcA=="

# Google OAuth (optional - leave empty to disable)
google_client_id     = ""
google_client_secret = ""
